@model IEnumerable<ToDoWebsite.Models.Task>

@{
    ViewData["Title"] = "Finished";
}

<h1 style="text-align: center;">Finished</h1>

@foreach (ToDoWebsite.Models.Task t in Model)
{
    if (t.IsComplete == true)
    {
        <div class="card" style="width: 15rem; height: 10rem; float: left; margin: 3px; text-align: center; background-color: #212121; color: #ffffff;">
            <div class="card-body">
                <h5 class="card-title">@t.Title</h5>
                <p class="card-text">@t.Description</p>
            </div>
            <div style="text-align: left">
                <a asp-action="Delete" asp-route-id="@t.TaskId" style="margin-right: 12.3rem; color: #bb86fc;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                    </svg>
                </a>
                <a asp-action="MarkNotDone" asp-route-id="@t.TaskId" style="color: #bb86fc;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z" />
                        <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z" />
                    </svg>
                </a>
            </div>
        </div>
    }

}